*{
    box-sizing: border-box;
}

body{
    margin:0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgb(31,142,190),rgb(177,2,205),rgb(68,4,149)) ;
}

.formContainer{
  width:800px;
  height: 500px;
  padding: 40px 0;
  position: relative;
}

.mainForm{
    height: 100%;
    box-shadow:  0 5px 45px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

/*block registration and logIn */

.section{
    width: 50%;
    text-align: center;
}

.sectionPartTitle{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.sectionBtn{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: aliceblue;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

/*form */

.formBox{
    background-color: white;
    height: 100%;
    width: 50%;
    
    position:  absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}