*{
    box-sizing: border-box;
}

.form{
    width:100%;
    padding: 50px;
    font-size: 16px;
}

.formContainer{
  width:800px;
  height: 500px;
  padding: 40px 0;
  position: relative;
  box-shadow:  0 5px 45px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.mainForm{
    height: 100%;
    width: 100%;
    box-shadow:  0 5px 45px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    overflow: hidden;
}

/*block registration and logIn */

 .section{
    width: 50%;
    text-align: center;
}

.sectionPartTitle{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.sectionBtn{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: aliceblue;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
} 